.about-container {
    width: 90%;
    margin: 15% auto 0 auto;
    font-size: 1.3rem;
    text-align: left;
}

.about-container p {
    margin-top: 20px;
}

#bio-icon {
    width: 250px;
    margin: 20px;
    border-radius: 50%;
    float:right;
}

#author-name {
    display:inline-block;
}