@import url('https://fonts.googleapis.com/css?family=Poppins:200,400|Satisfy&display=swap');
@import 'variables.scss';
@import 'nav.scss';
@import 'artpage.scss';
@import 'about.scss';
@import 'text-styling.scss';
@import 'media.scss';


html {
    display:block;
}

body {
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}



