.border1 {
    border: 1px solid $accent-color1;
}

.border2 {
    border: 1px solid $accent-color2;
}

.border3 {
    border: 1px solid $accent-color3;
}

.border4 {
    border: 1px solid $accent-color4;
}

.textshadow1 {
    text-shadow: 0px -3px 7px  $accent-color1;
}

.textshadow2 {
    text-shadow: 0px -3px 7px  $accent-color2;
}

.textshadow3 {
    text-shadow: 0px -3px 7px  $accent-color3;
}

.textshadow4 {
    text-shadow: 0px -3px 7px  $accent-color4;
}
